* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
}

header {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: #ccc;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}

nav a:hover,
nav a.active {
    color: #fff;
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;
}
.hero {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    margin-top: 10px;
    font-size: 18px;
}
.categories {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.categories a {
    text-decoration: none;
    color: #000;
    border: 1px solid #000;
    padding: 10px 20px;
}

.categories a:hover {
    background-color: #000;
    color: #fff;
}
.products {
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 25px;
}

.product {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.product img {
   height: 259px;
   width: 194px;
    object-fit: cover;
    border-radius: 5px;
}

.product h3 {
    margin: 15px 0 5px;
}

.product p {
    color: #555;
}

.product span {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.product button {
    padding: 10px 15px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.product button:hover {
    background-color: #333;
}
.footer {
  background-color: #111;
  color: #fff;
  padding: 50px 0 20px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.footer-box h3,
.footer-box h4 {
  margin-bottom: 15px;
  color: #f5c518;
}

.footer-box p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-box ul {
  list-style: none;
}

.footer-box ul li {
  margin-bottom: 10px;
}

.footer-box ul li a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-box ul li a:hover {
  color: #f5c518;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  margin-top: 30px;
  border-top: 1px solid #333;
  font-size: 13px;
  color: #aaa;
}
button{
    margin-top: 30px;
    height: 60px;
    margin-left: 6px;
    width: 194px;
    font-size: 20px;
    
}
button a{
    text-decoration: none;
    color: white;
}